include ../../../components/blocks/form-elements/form-elements.pug
include ../../../components/blocks/button/button.pug

section.works
  .page__header
    .page__columns
      h1.page-title.works__title Блок «Работы»
  .page__content
    .page__row(v-if="showAddingCard")
      vc-works-add-new(:work="work" @hideAddingCard="hideAddingCard")
    .page__row
      ul.works__list
        li.works__item
          .card.card--add
            button(type="button" @click="showAddingCard = true").btn.btn--add.btn--xbig

        li(v-for="work in getWorks" :key="work.id").works__item
          vc-works-item(:work="work" @editWork="editWork")
