.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  &__right {
    display: flex;
  }

  &__menu {
    @include desktop {
      flex-basis: 60%;
    }

    flex-basis: 50%;

    & .menu__list {
      @include tablets {
        display: none;
      }
    }
  }

  &__socials {

    @include small {
      display: none;
    }
  }
}

.logo__title {
  font-size: 38px;
  font-weight: 800;
}