.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.header__menu {
  @include desktop {
    flex-basis: 60%;
  }

  flex-basis: 50%;

  & .menu__list {
    @include tablets {
      display: none;
    }
  }
}

.logo__title {
  font-size: 38px;
  font-weight: 800;
}

.header__socials {

  @include small {
    display: none;
  }
}