.hero {
  @include small {
    justify-content: flex-start;
    height: 100%;
    padding: 0;
    margin-bottom: 120px;
  }
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 60px;
}