.mountains__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 190px;
}

.user-data {
  display: flex;
  &__desc {
    width: 162px;
    margin-right: 60px;  
opacity: 0.4;
color: #464d62;
font-size: 18px;
font-weight: 600;
line-height: 30px;
  }
  &__name {
width: 411px;
color: #464d62;
font-size: 72px;
font-weight: 900;
line-height: 60px;
  }
}