.progress-container {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 10%;
  width: 100%;
}

.progress-bar {
  background-image: linear-gradient(90deg, #9300e8 0%, #4a00ed 100%);
  width: 0%;
  height: 5px;
}