.welcome {
  min-height: 1600px;
  position: relative;
  background: url("../images/content/maunt.jpg") center center/cover no-repeat;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  
}


