.welcome {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 1775px;

  @include desktop {
    min-height: 1740px;
  }

  @include tablets {
    min-height: 1400px;
  }
}