script(type="text/x-template")#modal-template
  .modal-container(:class="{ showed: modal.showed }")
    .modal
      .modal__title Письмо отправлено
      button(@click="closeModal").btn-submit Закрыть 
