.btn {
  &--edit {
    background-image: svg-load('../../../images/icons/pencil.svg', fill=blue, height=17px);
    background-position: center right;
    padding-right: 30px;
  }

  &--cross {
    background-image: svg-load('../../../images/icons/Cross.svg', fill=red, height=15px);
    background-position: center right;
    padding-right: 30px;

  }
}