header.header
  .header__container
    .header__container-user
      .header__container__user-icon
        img(src="../../../images/content/myAvatar2.jpg").user__pic-avatar
    h3.header__container__user-title Шашков Денис 
    .desc Панель администрирования
    button(
      type="button"
        @click="logout"
    ).logout Выйти