.buda
  include ../blocks/budda/budda


  include ..//blocks/reviewsSlider/reviews       

  section#section_6
    .form-section
      .container    
        include ../blocks/form/form                  





