.buda
          include ../blocks/budda/budda
          section.reviews-section 
            .container.reviews-container
             
             include ../blocks/reviews/reviews

          section.form-section
           .container                      
             include ../blocks/form/form

                    

include ../blocks/footer/footer
