.welcome
  include ../blocks/parallax/parallax




  section#section_1.hero
    .container.hero-container 
      include ../blocks/header/header

      include ../blocks/mountains__content/mountains__content

      include ../blocks/mountains-button/mountains__button                

  include ../blocks/about/about
