.welcome
  include ../blocks/parallax/parallax
           section.section-mountains      
              .container          
                section.hero
                          
                  include ../blocks/header/header

                  include ../blocks/mountains__content/mountains__content

                  include ../blocks/mountains-button/mountains__bottom-btn                

                include ../blocks/about/about
                


              