section.section-works
  .container
    h2.section-title Мои работы
    #slider-component

.triangles.values-section__triangles-bottom
  svg.triangles__item-bottom(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(points="0,0 0,100 1000,100")
  svg.triangles__item-bottom(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(points="0,100 1000,100 1000,0")
include ../blocks/works/works.pug