.works__right
             .works__tags
               - var tags = ['html', 'css', 'javascript']
               each tag in tags
                 ul.tags
                   li.tags__item #{tag}
             .works__text
                h3.works__title Сайт школы <br> образования
                .works__desc-text
                  p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .iconed-link
                 a.iconed-link__icon
                   +icon(`link`, 'link__pic') 
                 a.iconed-link__text
                   p посмотреть сайт 