include ./skills/skills.pug
include ./skill/skill.pug
include ./works-slider/works-slider
include ./work/work
include ./tags/tags
include ./thumbnails/thumbnails
include ./navigation/navigation
include ./mobile_menu/mobile_menu
include ./tooltip/tooltip
include ./modal/modal