section.about
  .page__header
    .page__columns
      h2.page-title Блок «Обо мне»
    .page__columns
      button(type="button" @click="showAddingCard = true").btn.btn--add.btn--text Добавить группу
  .page__content
    ul.about__list

      li(v-if="showAddingCard").about__item
        .card
          vc-skills-title(:category="{ showAddingCard }" @hideCard="hideCard")
          .card__content
          .card__footer
            vc-skills-add-new()

      li(v-for="category, index in getCategories" :key="index").about__item
        .card
          vc-skills-title(:category="category")
          .card__content
            ul.skills
              li(v-for="skill in category.skills" :key="skill.id")
                vc-skills-item(:skill="skill")
          .card__footer
            vc-skills-add-new(:category="category")
