header.header#app
  .header__logo
    .logo ДШ

  nav.menu
    - var items = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
    ul.menu__list
      each item in items
        li.menu__item
          a(href="#").menu__link #{item}
    include ./links-menu    
  .header__links
    - var icons = ['insta', 'vk', 'github'];
      ul.socials
        each item, index in icons
          li.socials__item(class=`${index === 1 ? 'active' : ''}`)
            a(href="#", target="_blank").socials__link
              +icon(`${item}`, 'socials__icon')

  button(type="button").close-hamburger
    +icon("Cross", "Cross-icon")

  .hamburger-menu__link
    .hamburger-menu__link__bars
