script(type="text/x-template")#works-slider-template
  .works-slider
    .works-slider__fream
      .works-slider__preview
        img(:src="works[activeWork].photo", alt="").works-slider__image
      .works-slider__controls
        ul.controls.controls--works
          li(@click="nextSlide").controls__item--works
            button(type='button', class=`btn btn--works`, :disabled="activeWork === works.length - 1")
          li(@click="prevSlide").controls__item--works
            button(type='button', class=`btn btn--works`, :disabled="activeWork === 0")
      .works-slider__thumbnails: vc-thumbnails(:works="reversedWorks", :activeWork="activeWork")
      .works-slider__number {{ activeWork + 1 }}