.slider             
               +image('content/slide_4.jpg', 'slider-pic')
               .slider__preview
                 ul.previews
                  - for (var i = 1; i < 5; i++)
                    li(class =`previews__item ${i===4 ? "previews__item--active" : ""}`) 
                      +image(`content/slide_${i}.jpg`, "previews__image")                                    
               .slider__buttons
                 .slider-buttons
                    button.slider-buttons__item.slider-buttons__item--slide--prev 
                        +icon(`slidearow`, 'arow__up')                       
                    button.slider-buttons__item.slider-buttons__item--slide--next
                        +icon(`slidearow`, 'arow__down')  
