include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio 
  body
    .wrapper
      main.maincontent



        include ./components/sections/welcome        

        include ./components/sections/values

        include ./components/sections/works-slider

        include ./components/sections/buda

        include ./components/blocks/footer/footer

        include ./components/blocks/modal/modal









