include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio 
  body
    .wrapper
      main.maincontent
        section.fullscreen-section.section-mountains        
          .container
            header.header
              .header-left
                a.logo(href='#')
                   +image('content/ВА.png','logo-image')
              nav.menu
                ul.menu__list            
                  li.menu__item
                     a.menu__link(href='#') Главная
                  li.menu__item
                     a.menu__link(href='#') Обо мне
                  li.menu__item
                     a.menu__link(href='#') Навыки
                  li.menu__item
                     a.menu__link(href='#') Работы
                  li.menu__item
                     a.menu__link(href='#') Отзывы
                  li.menu__item
                     a.menu__link(href='#') Связаться
              .header-right
                ul.socials
                  li.socials__item
                    a.socials__link(href='#')
                       +icon('Instagram', 'link-class')
                  li.socials__item
                    a.socials__link(href='#')
                       +icon('vk', 'link-class')
                  li.socials__item
                    a.socials__link(href='#')
                       +icon('github', 'link-class')