
script(type="text/x-template")#work-template
  .work
    h3.subtitle.work__subtitle {{ work.title }}
    p.work__description {{ work.description }}
    a(:href="work.link", target="blank").work__link Посмотреть сайт